*.class
*.jar
*.war
*.ear
.project
.classpath
.settings
ddbuilder/bin/
ddbuilder/bin/jp/
ddbuilder/templateddb/
ddbuilder/jp-co-nextdesign-ddbuilder/lib/ddbuilder_lib/
ddbuilder/jp-co-nextdesign-ddbuilder/lib/templateddb/
ddbuilder/jp-co-nextdesign-ddbuilder.zip

