<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>%サインイン%</title>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" title="Stylesheet" />
</head>
<body>
<div id="hd">
<h1>%サインイン%</h1>
</div>
<div id="bd">
<p>
<span>%サインイン%</span>
</p>
<span wicket:id="signInPanel"></span>
<br>
<div>
<a href="#" target="_blank">%新規登録する%</a>
</div>
<div>
<a href="#" target="_blank">%パスワードを忘れた%</a>
<br>
<br>
%サインインの実装は仮の状態です。%<br>
%例えば、ユーザ名=123 パスワード=123 でもサインインできます。%<br>
%最終的には、DdSession#authenticate に実装します。%
<br>
<br>
</div>
</div>
</body>
</html>
